<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @outing.title %>
</p>

<p>
  <b>Description:</b>
  <%= @outing.description %>
</p>

<p>
  <b>Rating:</b>
  <%= @outing.rating %>
</p>


<%= link_to 'Edit', edit_outing_path(@outing) %> |
<%= link_to 'Back', outings_path %>
