<!DOCTYPE html>
<html>
<head>
  <title>Date Night Out</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="clearfix">
		<h1><%= link_to "Home!", root_url %></h1>
		<nav class="user_nav">
			<% if current_user %>
				Logged in as <%= current_user.username %>.
				<%= link_to "Log out", logout_path %>
			<% else %>
				<%= link_to "Sign up", signup_path %> or
				<%= link_to "Log in", login_path  %>.
			<% end %>
	    </nav><br>
	    <nav>
			<%= link_to "Outings", outings_path %> | 
			<%= link_to "Activities", activities_path %> | 
			<%= link_to "Attributes", attributes_path %>
		</nav>
	</header>
    <section>
    	<% flash.each do |name, msg| %>
			<%= content_tag :section, msg, :id => "flash_#{name}" %>
		<% end %>
    </section>
	<section>
		<%= yield %>
	</section>
</body>
</html>
